  
h1,
h2,
h4,
p {
  font-family: "Arvo", serif;
}

p {
  font-size: 17px;
}

#intro {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 10rem;
    background-color: rgb(237, 184, 104);
    text-align: justify;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    flex-grow: 1 0 auto;
    background-color: cadetblue;
}
.signup {
    color: purple;
    background-color: lavender;
    height: 100vh;
    margin: 15px;
    padding: 15px;
    alig
}