{% extends 'base.html' %}
{% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_main.css') }}"
/>
{% endblock %}
{% block content %} 
<h1>Hey, {{ current_user.name }}!</h1>
<img class="food" src="{{ url_for('static', filename= 'images/cart.jpeg') }}" alt="food basket" width="200px" height="200px" > 

<img class="clothes" src="{{ url_for('static', filename= 'images/clothes.jpeg') }}" alt="clothes basket" width="200px" height="200px" >

<img class="toilet" src="{{ url_for('static', filename= 'images/t.jpeg') }}" alt="toiletries basket" width="200px" height="200px" >
<h2>Welome to Build-A-Basket! Please add a basket to meet your needs</h2>

<h2> Baskets</h2>
  {% for post in posts %}
      <h1>{{ post.last_name }}</h1>
      <p>Total Family members: {{ post.total_members}}</p>
      <p>Adults: {{ post.adults}}</p>
      <p>Kids: {{ post.kids }}</p>
      <p>Needs: {{ post.needs }}</p>   
      <p>Location: {{ post.location }}</p>
      <p>Comments: {{ post.comments }}</p>
      <p>Date Posted: {{ post.date_posted }}</p>       

            <a
              href="{{ url_for('main.update_post', post_id=post.id) }}"
              class="btn btn-outline-primary"
              role="button"
            >
              Edit
            </a>
          </td>
          <td>
            <a
              href="{{ url_for('main.delete_post', post_id=post.id) }}"
              class="btn btn-outline-danger"
              role="button"
            >
              Delete
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}

